$blue: #1d2254; //primary
$gray-600: #fec07f; // secondary
$link-color:   #46321B;





@import "../node_modules/bootstrap/scss/bootstrap.scss";

.start{
    background-image: url(../assets/frontend_developer.jpg);
    background-size: cover;   
}



.start2 {
    bottom:1rem;
    right:1rem;
}

body {
    color: #46321B;
}

h1 {
    font-size: 5rem!important;
}