$blue: #1d2254; //primary
$gray-600: #fec07f; // secondary
$link-color:   #46321B;

// $font-size-base: 1rem ; // Assumes the browser default, typically `16px`
// $h1-font-size: $font-size-base * 3; // für die Überschrift





@import "../node_modules/bootstrap/scss/bootstrap.scss";

.start{
    background-image: url(../assets/frontend_developer.jpg);
    background-size: cover;   
}

.info-start{
    background-image: url(../assets/isabella-and-louisa-fischer-MEc4jblaxZ4-unsplash.jpg);
    background-size: cover;   
    
}

.info-start div {

    
    min-height: 5em;
    min-width: 30%;
    background-color: rgb(28, 224, 54);

}
// height: 67vh

.start2 {
    bottom:1rem;
    right:1rem;
}

body {
    color: #46321B;
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    h1 {
        font-size: 2.5rem;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    h1 {
        font-size: 3rem;
    }
    .info-start div {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 20%!important;
    }

    .info-header div:first-child {
        border: 0!important;
    }

    .info-header {
        height: 67vh;
    }




 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    h1 {
        font-size: 4rem;
    }

 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    h1 {
        font-size: 5rem;
    }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }
